
alias afk="pmset displaysleepnow"
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias p="cd ~/Documents/Projects/"
alias dt="cd ~/Documents/Projects/dt"
alias pip="pip3"
alias python="python3"
